{
  "swagger": "2.0",
  "info": {
    "title": "auth.proto",
    "version": "1.0"
  },
  "tags": [
    {
      "name": "AuthService"
    },
    {
      "name": "GroupService"
    },
    {
      "name": "GroupsBillService"
    }
  ],
  "host": "api.monify.dev",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v1/user/login": {
      "post": {
        "operationId": "AuthService_EmailLogin",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/EmailLoginResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EmailLoginRequest"
            }
          }
        ],
        "tags": [
          "AuthService"
        ]
      }
    },
    "/v1/user/register": {
      "post": {
        "operationId": "AuthService_EmailRegister",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/EmailRegisterResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EmailRegisterRequest"
            }
          }
        ],
        "tags": [
          "AuthService"
        ]
      }
    },
    "/v1/user/refresh-token": {
      "post": {
        "operationId": "AuthService_RefreshToken",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/RefreshTokenResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RefreshTokenRequest"
            }
          }
        ],
        "tags": [
          "AuthService"
        ]
      }
    },
    "/v1/group": {
      "post": {
        "operationId": "GroupService_CreateGroup",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/CreateGroupResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateGroupRequest"
            }
          }
        ],
        "tags": [
          "GroupService"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/group/joined": {
      "get": {
        "operationId": "GroupService_ListJoinedGroups",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ListJoinedGroupsResponse"
            }
          }
        },
        "tags": [
          "GroupService"
        ]
      }
    },
    "/v1/group/invite-code": {
      "post": {
        "operationId": "GroupService_GenerateInviteCode",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GenerateInviteCodeResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenerateInviteCodeRequest"
            }
          }
        ],
        "tags": [
          "GroupService"
        ]
      }
    },
    "/v1/group/join": {
      "post": {
        "operationId": "GroupService_JoinGroup",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/JoinGroupResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JoinGroupRequest"
            }
          }
        ],
        "tags": [
          "GroupService"
        ]
      }
    },
    "/v1/group/members/{groupId}": {
      "get": {
        "operationId": "GroupService_GetGroupMembers",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetGroupMembersResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "GroupService"
        ]
      }
    },
    "/v1/groups_bill": {
      "post": {
        "operationId": "GroupsBillService_CreateGroupBill",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/CreateGroupBillResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateGroupBillRequest"
            }
          }
        ],
        "tags": [
          "GroupsBillService"
        ]
      }
    },
    "/v1/groups_bill/{groupId}": {
      "get": {
        "operationId": "GroupsBillService_GetGroupBills",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetGroupBillsResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "GroupsBillService"
        ]
      }
    },
    "/v1/groups_bill/{billId}": {
      "delete": {
        "operationId": "GroupsBillService_DeleteGroupBill",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GroupGroupBillEmpty"
            }
          }
        },
        "parameters": [
          {
            "name": "billId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "GroupsBillService"
        ]
      },
      "put": {
        "operationId": "GroupsBillService_ModifyGroupBill",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GroupGroupBillEmpty"
            }
          }
        },
        "parameters": [
          {
            "name": "billId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GroupsBillServiceModifyGroupBillBody"
            }
          }
        ],
        "tags": [
          "GroupsBillService"
        ]
      }
    },
    "/v1/group_bill/history/{groupId}/{skip}/{limit}": {
      "get": {
        "operationId": "GroupsBillService_GetHistory",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetHistoryResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "skip",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "limit",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "tags": [
          "GroupsBillService"
        ]
      }
    }
  },
  "definitions": {
    "CreateGroupBillRequest": {
      "type": "object",
      "properties": {
        "groupId": {
          "type": "string"
        },
        "totalMoney": {
          "type": "number",
          "format": "double"
        },
        "title": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "prepaidPeople": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/InsertPrepaidPerson"
          }
        },
        "splitPeople": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/InsertSplitPerson"
          }
        }
      }
    },
    "CreateGroupBillResponse": {
      "type": "object",
      "properties": {
        "billId": {
          "type": "string"
        },
        "memberId": {
          "type": "string"
        }
      }
    },
    "CreateGroupRequest": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      }
    },
    "CreateGroupResponse": {
      "type": "object",
      "properties": {
        "groupId": {
          "type": "string"
        },
        "memberId": {
          "type": "string"
        }
      }
    },
    "CreatedGroupBill": {
      "type": "object",
      "properties": {
        "billId": {
          "type": "string"
        },
        "groupId": {
          "type": "string"
        },
        "totalMoney": {
          "type": "number",
          "format": "double"
        },
        "title": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "prepaidPeople": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/PrepaidPerson"
          }
        },
        "splitPeople": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/SplitPerson"
          }
        }
      }
    },
    "EmailLoginRequest": {
      "type": "object",
      "properties": {
        "email": {
          "type": "string"
        },
        "password": {
          "type": "string"
        }
      }
    },
    "EmailLoginResponse": {
      "type": "object",
      "properties": {
        "userId": {
          "type": "string"
        },
        "accessToken": {
          "type": "string"
        },
        "refreshToken": {
          "type": "string"
        }
      }
    },
    "EmailRegisterRequest": {
      "type": "object",
      "properties": {
        "email": {
          "type": "string"
        },
        "password": {
          "type": "string"
        }
      }
    },
    "EmailRegisterResponse": {
      "type": "object",
      "properties": {
        "userId": {
          "type": "string"
        }
      }
    },
    "GenerateInviteCodeRequest": {
      "type": "object",
      "properties": {
        "groupId": {
          "type": "string"
        }
      }
    },
    "GenerateInviteCodeResponse": {
      "type": "object",
      "properties": {
        "inviteCode": {
          "type": "string"
        }
      }
    },
    "GetGroupBillsResponse": {
      "type": "object",
      "properties": {
        "groupBills": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/CreatedGroupBill"
          }
        }
      }
    },
    "GetGroupMembersResponse": {
      "type": "object",
      "properties": {
        "members": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/GroupMember"
          }
        }
      }
    },
    "GetHistoryResponse": {
      "type": "object",
      "properties": {
        "histories": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/GroupBillHistory"
          }
        }
      }
    },
    "Group": {
      "type": "object",
      "properties": {
        "groupId": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      }
    },
    "GroupBillHistory": {
      "type": "object",
      "properties": {
        "type": {
          "$ref": "#/definitions/GroupBillHistoryType"
        },
        "operatorName": {
          "type": "string",
          "title": "The member_name who did the operation"
        },
        "title": {
          "type": "string"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "GroupBillHistoryType": {
      "type": "string",
      "enum": [
        "create",
        "delete",
        "modify"
      ],
      "default": "create"
    },
    "GroupGroupBillEmpty": {
      "type": "object"
    },
    "GroupMember": {
      "type": "object",
      "properties": {
        "memberId": {
          "type": "string"
        },
        "userId": {
          "type": "string"
        },
        "userName": {
          "type": "string"
        },
        "avatarUrl": {
          "type": "string"
        }
      }
    },
    "GroupsBillServiceModifyGroupBillBody": {
      "type": "object",
      "properties": {
        "totalMoney": {
          "type": "number",
          "format": "double"
        },
        "title": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "prepaidPeople": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/InsertPrepaidPerson"
          }
        },
        "splitPeople": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/InsertSplitPerson"
          }
        }
      }
    },
    "InsertPrepaidPerson": {
      "type": "object",
      "properties": {
        "memberId": {
          "type": "string"
        },
        "amount": {
          "type": "number",
          "format": "double"
        }
      }
    },
    "InsertSplitPerson": {
      "type": "object",
      "properties": {
        "memberId": {
          "type": "string"
        },
        "amount": {
          "type": "number",
          "format": "double"
        }
      }
    },
    "JoinGroupRequest": {
      "type": "object",
      "properties": {
        "inviteCode": {
          "type": "string"
        }
      }
    },
    "JoinGroupResponse": {
      "type": "object",
      "properties": {
        "groupId": {
          "type": "string"
        },
        "memberId": {
          "type": "string"
        }
      }
    },
    "ListJoinedGroupsResponse": {
      "type": "object",
      "properties": {
        "groups": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/Group"
          }
        }
      }
    },
    "PrepaidPerson": {
      "type": "object",
      "properties": {
        "memberId": {
          "type": "string"
        },
        "amount": {
          "type": "number",
          "format": "double"
        },
        "username": {
          "type": "string"
        }
      }
    },
    "RefreshTokenRequest": {
      "type": "object",
      "properties": {
        "refreshToken": {
          "type": "string"
        }
      }
    },
    "RefreshTokenResponse": {
      "type": "object",
      "properties": {
        "refreshToken": {
          "type": "string"
        },
        "accessToken": {
          "type": "string"
        }
      }
    },
    "SplitPerson": {
      "type": "object",
      "properties": {
        "memberId": {
          "type": "string"
        },
        "amount": {
          "type": "number",
          "format": "double"
        },
        "username": {
          "type": "string"
        }
      }
    }
  },
  "securityDefinitions": {
    "Bearer": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  }
}
