{
  "swagger": "2.0",
  "info": {
    "title": "auth.proto",
    "version": "1.0"
  },
  "tags": [
    {
      "name": "AuthService"
    },
    {
      "name": "GroupService"
    },
    {
      "name": "GroupsBillService"
    }
  ],
  "host": "api.monify.dev:8081",
  "schemes": [
    "http"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v1/user/login": {
      "post": {
        "operationId": "AuthService_EmailLogin",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/EmailLoginResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EmailLoginRequest"
            }
          }
        ],
        "tags": [
          "AuthService"
        ]
      }
    },
    "/v1/user/register": {
      "post": {
        "operationId": "AuthService_EmailRegister",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/EmailRegisterResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EmailRegisterRequest"
            }
          }
        ],
        "tags": [
          "AuthService"
        ]
      }
    },
    "/v1/user/refresh-token": {
      "post": {
        "operationId": "AuthService_RefreshToken",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/RefreshTokenResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RefreshTokenRequest"
            }
          }
        ],
        "tags": [
          "AuthService"
        ]
      }
    },
    "/v1/group": {
      "post": {
        "operationId": "GroupService_CreateGroup",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/CreateGroupResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateGroupRequest"
            }
          }
        ],
        "tags": [
          "GroupService"
        ]
      }
    },
    "/v1/group/joined": {
      "get": {
        "operationId": "GroupService_ListJoinedGroups",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ListJoinedGroupsResponse"
            }
          }
        },
        "tags": [
          "GroupService"
        ]
      }
    },
    "/v1/group/invite-code": {
      "post": {
        "operationId": "GroupService_GenerateInviteCode",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GenerateInviteCodeResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenerateInviteCodeRequest"
            }
          }
        ],
        "tags": [
          "GroupService"
        ]
      }
    },
    "/v1/group/join": {
      "post": {
        "operationId": "GroupService_JoinGroup",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/JoinGroupResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JoinGroupRequest"
            }
          }
        ],
        "tags": [
          "GroupService"
        ]
      }
    },
    "/v1/groups_bill": {
      "post": {
        "operationId": "GroupsBillService_CreateBill",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/CreateBillResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateBillRequest"
            }
          }
        ],
        "tags": [
          "GroupsBillService"
        ]
      },
      "put": {
        "operationId": "GroupsBillService_ModifyBill",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ModifyBillResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ModifyBillRequest"
            }
          }
        ],
        "tags": [
          "GroupsBillService"
        ]
      }
    },
    "/v1/groups_bill/{billId}": {
      "delete": {
        "operationId": "GroupsBillService_DeleteBill",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GroupBillEmpty"
            }
          }
        },
        "parameters": [
          {
            "name": "billId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "GroupsBillService"
        ]
      }
    },
    "/v1/groups_bill/self_total_spend": {
      "get": {
        "operationId": "GroupsBillService_GetSelfTotalSpend",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetSelfTotalSpendResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "groupId",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "GroupsBillService"
        ]
      }
    },
    "/v1/groups_bill/group_bill": {
      "get": {
        "operationId": "GroupsBillService_GetGroupTotalSpend",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/GetGroupTotalSpendResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "groupId",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "GroupsBillService"
        ]
      }
    }
  },
  "definitions": {
    "CreateBillRequest": {
      "type": "object",
      "properties": {
        "groupId": {
          "type": "string"
        },
        "totalMoney": {
          "type": "number",
          "format": "double"
        },
        "title": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "prepaidPeople": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/PrepaidPerson"
          }
        },
        "splitPeople": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/SplitPerson"
          }
        }
      }
    },
    "CreateBillResponse": {
      "type": "object",
      "properties": {
        "billId": {
          "type": "string"
        }
      }
    },
    "CreateGroupRequest": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      }
    },
    "CreateGroupResponse": {
      "type": "object",
      "properties": {
        "groupId": {
          "type": "string"
        },
        "memberId": {
          "type": "string"
        }
      }
    },
    "EmailLoginRequest": {
      "type": "object",
      "properties": {
        "email": {
          "type": "string"
        },
        "password": {
          "type": "string"
        }
      }
    },
    "EmailLoginResponse": {
      "type": "object",
      "properties": {
        "userId": {
          "type": "string"
        },
        "accessToken": {
          "type": "string"
        },
        "refreshToken": {
          "type": "string"
        }
      }
    },
    "EmailRegisterRequest": {
      "type": "object",
      "properties": {
        "email": {
          "type": "string"
        },
        "password": {
          "type": "string"
        }
      }
    },
    "EmailRegisterResponse": {
      "type": "object",
      "properties": {
        "userId": {
          "type": "string"
        }
      }
    },
    "GenerateInviteCodeRequest": {
      "type": "object",
      "properties": {
        "groupId": {
          "type": "string"
        }
      }
    },
    "GenerateInviteCodeResponse": {
      "type": "object",
      "properties": {
        "inviteCode": {
          "type": "string"
        }
      }
    },
    "GetGroupTotalSpendResponse": {
      "type": "object",
      "properties": {
        "amount": {
          "type": "number",
          "format": "double"
        }
      }
    },
    "GetSelfTotalSpendResponse": {
      "type": "object",
      "properties": {
        "amount": {
          "type": "number",
          "format": "double"
        }
      }
    },
    "Group": {
      "type": "object",
      "properties": {
        "groupId": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      }
    },
    "GroupBillEmpty": {
      "type": "object"
    },
    "JoinGroupRequest": {
      "type": "object",
      "properties": {
        "inviteCode": {
          "type": "string"
        }
      }
    },
    "JoinGroupResponse": {
      "type": "object",
      "properties": {
        "groupId": {
          "type": "string"
        },
        "memberId": {
          "type": "string"
        }
      }
    },
    "ListJoinedGroupsResponse": {
      "type": "object",
      "properties": {
        "groups": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/Group"
          }
        }
      }
    },
    "ModifyBillRequest": {
      "type": "object",
      "properties": {
        "billId": {
          "type": "string"
        }
      }
    },
    "ModifyBillResponse": {
      "type": "object",
      "properties": {
        "groupId": {
          "type": "string"
        },
        "totalMoney": {
          "type": "number",
          "format": "double"
        },
        "title": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "prepaidPeople": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/PrepaidPerson"
          }
        },
        "splitPeople": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/SplitPerson"
          }
        }
      }
    },
    "PrepaidPerson": {
      "type": "object",
      "properties": {
        "prepaidPerson": {
          "type": "string"
        },
        "prepaidAmount": {
          "type": "number",
          "format": "double"
        }
      }
    },
    "RefreshTokenRequest": {
      "type": "object",
      "properties": {
        "refreshToken": {
          "type": "string"
        }
      }
    },
    "RefreshTokenResponse": {
      "type": "object",
      "properties": {
        "refreshToken": {
          "type": "string"
        },
        "accessToken": {
          "type": "string"
        }
      }
    },
    "SplitPerson": {
      "type": "object",
      "properties": {
        "splitPerson": {
          "type": "string"
        },
        "splitAmount": {
          "type": "number",
          "format": "double"
        }
      }
    }
  },
  "securityDefinitions": {
    "Bearer": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  }
}
